- content_for :title do
  Contact
.container
  .row
    .col-sm-1
    .col-sm-11
    -# %iframe{:height => "1200", :src => "https://mon-espace-tennis.fft.fr/", :style => "-webkit-transform:scale(0.9);-moz-transform-scale(0.9);", :width => "1200"}