.container-fluid
  .row
    .col-sm-1
    .col-sm-7
    .col-sm-3
      .col-sm-12
        %h4 Nos Partenaires
      .col-sm-12
      .col-sm-12
        %h4 Liens Rapides
      .col-sm-12
      .col-sm-12
        = link_to 'Planning Championnat', "#", class: 'btn btn-primary btn-block'
      .col-sm-12
      .col-sm-12
        = link_to 'Planning Cours', "#", class: 'btn btn-primary btn-block'
      .col-sm-12
      .col-sm-12
        = link_to 'FFT Espace Licencié', "https://mon-espace-tennis.fft.fr/", class: 'btn btn-primary btn-block'
      .col-sm-12
      .col-sm-12
        = link_to 'FFT Gestion Sportive', "http://www.gs.applipub-fft.fr/fftfr/frameset.do?dispatch=load", class: 'btn btn-primary btn-block'