%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.stylish-color-dark
  / Navbar brand
  %a.navbar-brand
    = link_to root_path do
      = image_tag "logo.png"
  %button.navbar-toggler{"aria-controls" => "basicExampleNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#basicExampleNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  / Collapsible content
  #navbarSupportedContent.collapse.navbar-collapse
    / Links
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Le Club
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#"} Le Bureau
          %a.dropdown-item{href: "#"} Les Installations
          %a.dropdown-item{href: "#"} Les Tarifs
          %a.dropdown-item{href: "#"} L'équipe Enseignante
          %a.dropdown-item{href: "#"} Réglement Interne
          %a.dropdown-item{href: "#"} Qui Sommes Nous?
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Compétitions
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#"} 
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Les Cours
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#"} Les Groupes 
          %a.dropdown-item{href: "#"} Le Planning
      %li.nav-item
        %a.nav-link{:href => partenaires_path} Nos Partenaires    
      %li.nav-item
        %a.nav-link{:href => contact_path} Contact
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Galeries
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#"} Galerie Photos 
          %a.dropdown-item{href: "#"} Galerie Vidéos
      %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        %li.nav-item
        - if user_signed_in?
          %a.nav-link{href: edit_user_registration_path} My Account
          %a
            = link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link'
        - else
          %a.nav-link{href: new_user_session_path} Sign in
          %a.nav-link{href: new_user_registration_path} Sign up
.view.intro-2
  .full-bg-img
    .mask.rgba-black-light.flex-center
      .container.text-center.white-text
        .white-text.text-center.wow.fadeInUp
          %h1 USR Tennis
          %h5 
          %br/
          %p 