%nav.navbar.navbar-light.navbar-expand-md.bg-faded.justify-content-center
  %a.navbar-brand.mr-auto
    = link_to root_path do
      = image_tag "logo.png"
  %button.navbar-toggler{"data-target" => "#collapsingNavbar3", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #collapsingNavbar3.navbar-collapse.collapse.w-100
    %ul.navbar-nav.w-100.justify-content-center
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle.disabled{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Le Club
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: le_bureau_path} Le Bureau
          %a.dropdown-item{href: les_installations_path} Les Installations
          %a.dropdown-item{href: les_tarifs_path} Les Tarifs
          %a.dropdown-item{href: equipe_enseignante_path} L'équipe Enseignante
          %a.dropdown-item{href: reglement_interne_path} Réglement Interne
          %a.dropdown-item{href: "#"} Qui Sommes Nous?
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle.disabled{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Compétitions
        %ul.dropdown-menu.multi-column.columns-4
          .row
            .col-sm-3
              %ul.multi-column-dropdown
                %a.dropdown-item.disabled{:href => "#"}
                  %strong CHAMPIONNAT JEUNES
                %li.divider
                %li
                  %a.dropdown-item{:href => "#"} 13/15 ans Filles
                %li
                  %a.dropdown-item{:href => "#"} 16/18 ans Filles
                %li
                  %a.dropdown-item{:href => "#"} 9/10 ans Garçons
                %li
                  %a.dropdown-item{:href => "#"} 11/12 ans Garçons
                %li
                  %a.dropdown-item{:href => "#"} 13/15 ans Garçons
            .col-sm-3
              %ul.multi-column-dropdown
                %li
                  %a.dropdown-item.disabled{:href => "#"}
                    %strong CHAMPIONNAT SENIORS
                %li.divider
                %li
                  %a.dropdown-item{:href => "#"} Equipe 1 Dames
                %li
                  %a.dropdown-item{:href => "#"} Equipe 1 Messieurs
                %li
                  %a.dropdown-item{:href => "#"} Equipe 2 Messieurs
                %li
                  %a.dropdown-item{:href => "#"} Equipe 3 Messieurs
            .col-sm-3
              %ul.multi-column-dropdown
                %li
                  %a.dropdown-item.disabled{:href => "#"}
                    %strong CHAMPIONNAT LOISIRS
                %li.divider
                %li
                  %a.dropdown-item{:href => "#"} Equipe Loisirs
            .col-sm-3
              %ul.multi-column-dropdown
                %li
                  %a.dropdown-item.disabled{:href => "#"}
                    %strong CHAMPIONNAT +35
                %li.divider
                %li
                  %a.dropdown-item{:href => "#"} Equipe 1 +35
                %li
                  %a.dropdown-item{:href => "#"} Equipe 2 +35
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle.disabled{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Les Cours
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#"} Les Groupes 
          %a.dropdown-item{href: "#"} Le Planning
      %li.nav-item
        %a.nav-link{:href => partenaires_path} Nos Partenaires    
      %li.nav-item
        %a.nav-link{:href => contact_path} Contact
      %li.nav-item.dropdown
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle.disabled{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} Galeries
        .dropdown-menu.dropdown-primary{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#"} Galerie Photos 
          %a.dropdown-item{href: "#"} Galerie Vidéos
    %ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
      %li.nav-item
      - if user_signed_in?
        %a.nav-link{href: edit_user_registration_path} My Account
        %a
          = link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link'
      - else
        %a.nav-link{href: new_user_session_path} Sign in
        %a.nav-link{href: new_user_registration_path} Sign up
      %li.nav-item
      - if user_signed_in?
        - if current_user.role == "admin"
          %a
            = link_to "Nouvel Article", new_post_path, :class => 'nav-link'