.container-fluid
  .row
    .col-sm-12
      %h4 Nos Partenaires
    .col-sm-12
      #carousel-example-1z.carousel.slide.carousel-slide{"data-ride" => "carousel"}
        .carousel-inner{:role => "listbox"}
          .carousel-item.active
            %img.d-block.w-100{:src => image_url('3sets-original.jpeg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('AMC-automatisme.jpg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('ATOL.jpeg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('carteiadfrance.jpg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('cervoiserie.jpg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('demechesavecvous.jpg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('mbcryo.png')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('pubbertrand.jpg')}
          .carousel-item
            %img.d-block.w-100{:src => image_url('vin-divin.jpeg')}
    .col-sm-12
      %br
    .col-sm-12
      %h4 Liens Rapides
    .col-sm-12
      %br
    .col-sm-12
      = link_to 'Planning Championnat', "#", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      = link_to 'Planning Cours', "#", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      = link_to 'FFT Espace Licencié', "https://mon-espace-tennis.fft.fr/", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      = link_to 'FFT Gestion Sportive', "http://www.gs.applipub-fft.fr/fftfr/frameset.do?dispatch=load", class: 'btn btn-primary btn-block'
    .col-sm-12
    .col-sm-12
      %br
      %br
      %h4 Le Calendrier
      %br
      .calendar